button{
    width: 120px;
    height: 100px;
    border: none;
    border-radius: 3px;
}
.imgs{
    width: 20px;
    height: 15px;
}
#equal{
    width: 244px;
}
#result{
    width: 485px;
    height: 100px;
    border-radius: 5px;
}
#calculator{
    text-align: center;
    margin-top: 50px;
}
#add,#subtract,#divide,#multiply{
    color: blue;
    font-size: 20px;
}
#equal{
    background-color: blue;
    color: white;
    font-size: 15px;
}
